*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 1440px;
  height: 100%;
  padding: 0 15px;
}

.top-line {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  margin-bottom: -46px;
}

.top-header {
  align-items: center;
  display: flex;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  position: relative;
}

.nav:hover,
.nav:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.nav-studio::after {
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  display: block;
  left: 0px;
  top: 47px;
  content: "";
  position: absolute;
}

.connect {
  margin-left: 280px;
  font-style: normal;
  align-items: center;
}

.address-list {
  display: flex;
  gap: 24px;
  margin-left: 100px;
  align-items: center;
  margin-top: 20px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.link:hover,
.link:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.top-nav {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  width: 115px;
  height: 24px;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 24px;
}

.logo .logo-web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo .logo-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.header-nav {
  display: flex;
  text-decoration: none;
  margin-left: 90px;
  margin-top: 20px;
  gap: 40px;
}

li {
  list-style-type: none;
}

.address-connect {
  text-decoration: none;
  display: flex;
}

.hero {
  height: 600px;
}

.hero-image {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  block-size: cover;
}

.buton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 169px;
  height: 56px;
  gap: 10px;
  margin-left: 600px;
  margin-bottom: 188px;
  margin-right: 536px;
}

.buton:hover,
.buton:focus {
  background: #404bbf;
}

.head1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
}

.text {
  display: flex;
  gap: 24px;
  width: 1128px;
  height: 104px;
  margin-top: 50px;
  margin-left: 120px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.light-bg {
  background-color: #f4f4fd;
  height: 732px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.icon-antenna-1 {
  width: 64px;
  height: 64px;
  margin-left: 100px;
  margin-top: 20px;
}

.icon-clock-1 {
  width: 64px;
  height: 64px;
  margin-left: 100px;
  margin-top: 22px;
}

.icon-diagram-1 {
  width: 64px;
  height: 64px;
  margin-left: 100px;
  margin-top: 20px;
}

.icon-astronaut-1 {
  width: 64px;
  height: 64px;
  margin-left: 100px;
  margin-top: 20px;
}

.icon-section1 {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
}

.icon-section1-box {
  align-items: center;
  justify-content: center;
}

.section1 {
  height: 344px;
  margin-top: 0;
  display: flex;
}

.team-card {
  display: flex;
  gap: 24px;
  margin-left: 110px;
  margin-top: 90px;
}

.img-sdw {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: 260px;
  height: 400px;
}

.down-card {
  height: 168px;
}
.icon {
  padding-top: 50px;
}
.person-head {
  padding-top: 10px;
  line-height: 1px;
}

.team-header {
  margin-left: 600px;
  margin-top: 80px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  justify-items: center;
  width: 200px;
}

.team-card .icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: -60px;
}

.icon .icon-box {
  display: flex;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  padding-top: 12px;
  padding-left: 12px;
}

.icon-box:hover,
.icon-box:focus {
  background-color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon .icon-facebook-1 {
  width: 16px;
  height: 16px;
}

.icon .icon-instagram-2 {
  width: 16px;
  height: 16px;
}

.icon .icon-twitter-1 {
  width: 16px;
  height: 16px;
}

.icon .icon-linkedin-1 {
  width: 16px;
  height: 16px;
}

.card-content {
  width: 360px;
  height: 280px;
}

.our-portfolio {
  display: flex;
  margin-top: 0;
  height: 1228px;
  flex-wrap: wrap;
}

.portfolio-header {
  height: 40px;
  padding-left: 500px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 0px;
}

.portfolio-box {
  width: 1228px;
  height: 1000px;
  margin-top: 130px;
  margin-left: 95px;
}

.portfolio-image {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: 10px;
  width: 1228px;
  margin-top: 60px;
}

.port-img:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 30px;
  background: #4d5ae5;
  overflow: hidden;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.port-text {
  padding-top: 10px;
  height: 24px;
}
.port-head {
  padding-top: 15px;
  height: 24px;
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card-img:hover .card-text {
  transform: translateY(0%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-picture {
  width: 360px;
  height: 125px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-left: 15px;
  padding-bottom: 0;
  overflow: hidden;
}

.text-footer {
  width: 264px;
  height: 72px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 140px;
}

.dark-bg {
  height: 312px;
  background-color: #2e2f42;
}

.small-logo {
  font-family: "Raleway", sans-serif;
  width: 115px;
  height: 24px;
  text-decoration: none;
  margin-left: 140px;
  margin-top: 40px;
}

.small-web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #4d5ae5;
}

.small-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #f4f4fd;
}

.footer-box {
  padding-top: 110px;
}

.icon-footer {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: baseline;
}

.icon-box-footer {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #4d5ae5;
  padding-left: 8px;
  padding-top: 8px;
}

.icon-instagram-2-footer {
  width: 24px;
  height: 24px;
}

.icon-twitter-1-footer {
  width: 24px;
  height: 24px;
}

.icon-facebook-1-footer {
  width: 24px;
  height: 24px;
}

.icon-linkedin-1-footer {
  width: 24px;
  height: 24px;
}

.icon-text-footer {
  color: #fff;
  padding-left: 9px;
}

.icon-footer-box {
  width: 250px;
  height: 80px;
  display: block;
  margin-left: 500px;
  margin-top: -115px;
}

.icon-box-footer:hover,
.icon-box-footer:focus {
  background-color: #42f5bf;
  cursor: pointer;
}
.footer-email {
  width: 453px;
  height: 80px;
  margin-left: 828px;
  margin-top: -80px;
}
.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input-name {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 16px;
}
.btn-subscribe {
  background: #4d5ae5;
  width: 165px;
  height: 40px;
  color: #fff;
  margin-top: 35px;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 24px;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
}
.subscribe-icon {
  width: 24px;
  height: 20px;
}
.backdrop {
  position: fixed;
  display: flex;
  inset: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  display: none;
}
.modal-content {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 24px 24px 24px 12px;
}
.modal-header {
  border: none;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}
.modal-name,
.modal-phone,
.modal-mail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal-checkbox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 8px;
}
.checkbox-box {
  display: flex;
  gap: 8px;
  flex-direction: row;
  width: 360px;
  height: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;
}
.modal-textarea {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal-button {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  gap: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-left: 110px;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.checkbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  font-size: 12px;
}
.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding-top: 2px;
  padding-left: 8px;
}
.modal-input-textarea:focus::placeholder {
  color: #4d5ae5;
}
.modal-input-textarea {
  resize: none;
  width: 360px;
  height: 120px;
  outline: none;
}
.modal-input-textarea:focus {
  border: 1px solid #4d5ae5;
}
.modal-input {
  position: relative;
}
.modal-input-box:focus {
  border: 1px solid #4d5ae5;
}
.modal-input-box:focus + .modal-icon {
  fill: #4d5ae5;
  cursor: pointer;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input-box {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 40px;
  outline: none;
}
.modal-input-name {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: none;
}
.modal-input-name:focus {
  border: 1px solid #4d5ae5;
  cursor: pointer;
  outline: none;
}
.modal-input-name:focus + .modal-icon-name {
  fill: #4d5ae5;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.inputs {
  margin-top: 30px;
  margin-left: 12px;
  width: 360px;
  height: 336px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 30px;
}
.modal-close-button {
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-left: 330px;
  border: 1px solid #fff;
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  padding-left: 6px;
  padding-bottom: 6px;
}

.close-button {
  fill: #2e2f42;
}
.modal-close-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.modal-input-checkbox {
  width: 16px;
  height: 16px;
}
.modal-icon-checkbox {
  fill: #fff;
}
.modal-input-newcheckbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
.modal-input-checkbox:checked + .modal-input-newcheckbox {
  border-radius: 2px;
  background-color: #404bbf;
  border: 1px solid #404bbf;
}
.is-open {
  display: flex;
}
